@import './variaveis';

html, body {
    font-family: $fonte;
    font-size: 18px;
    font-weight: 400;
    color: $cor-principal;
    overflow: hidden;
    a {
        text-decoration: none;
    }
}