@import '../abstract/variaveis';

.cartoes {
    input[type="radio"] {
        display: none;
    }

    #cartao1 {
        &:checked {
            ~ #primeiro {
                margin-left: 0;
                .cartao__navegacao {
                    :nth-child(1) {
                        background-color: $cor-destaque;
                        border: none;
                    }
                }
            }
        }
    }

    #cartao2 {
        &:checked {
            ~ #primeiro {
                margin-left: - 100vw;
            }
            ~ #segundo {
                .cartao__navegacao {
                    :nth-child(2) {
                        background-color: $cor-destaque;
                        border: none;
                    }
                }
            }
        }
    }
    #cartao3 {
        &:checked {
            ~ #primeiro {
                margin-left: -200vw;
            }
            ~ #terceiro {
                .cartao__navegacao {
                    :nth-child(3) {
                        background-color: $cor-destaque;
                        border: none;
                    }
                }
            }
        }
    }
}

.cartao__navegacao {
    display: inline-block;
    margin-bottom: 3.55rem;
    z-index: 2;
    cursor: pointer;
    label {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $cor-secundaria;
        border: 1px solid $cor-principal;
        margin: 0 0.4em;
        transition: 400ms;
    }  
}